<html>

<head>
  {% load static %}
  
  

  <title>{% block title %} {% endblock %}</title>
  <!-- Bootstrap -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Fonts -->
 
  <!-- Styles -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
 
  


</head>

<body>
  <h1 class="site-heading text-center text-white d-none d-lg-block">

    <span class="site-heading-lower">Mundo Mascota</span>
  </h1>


  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="home.html">Gestión de
        Pedidos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/home">Inicio</a>
          
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/Tienda">Tienda</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/Contacto">Contacto</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/Blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="shopping.html" data-toggle="canvas" data-target="#carroDeCompras" aria-expanded="false" aria-controls="carroDeCompras"><i
                    class="fas fa-shopping-cart"></i> <span class="text-dark">(<span
                        id="cartCount">0</span>)</span></a>
        </li>

        </ul>
      </div>
    </div>
  </nav> 
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="/home">Inicio</a>
      
      <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="/Tienda">Tienda</a>
      </li>
      <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="/Contacto">Contacto</a>
      </li>
      <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="/Blog">Blog</a>
      </li>

    </ul>
  </div>
  <br>
  <br>
  <div>
    <h1>Blog para Mascotas</h1>
    </div>
    <br>
            <p>En nuestro blog para mascotas encontrarás información y consejos para tu mascota.<br> Desde reseñas de productos hasta sugerencias para su cuidado,<br> comparativas entre alimentos, accesorios básicos (y no tan básicos),<br> juguetes, pasatiempos, noticias y datos sorprendentes… todo lo que puedas necesitar<br> o desees encontrar.
               No importa el tamaño, la especie, el tipo, el color, si son peludas o con escamas: aquí las mascotas son las protagonistas absolutas.

                </p>
                <br>
                <br>
     <div class="categoria">
      <h2>Categoria</h2>
      </div>
       <br>
      <div class="Alimentacion">
        <h3>Alimentacion</h3>
  <img src="{% static 'img/alimentacion.jpg' %}" width="180px" height="180" alt="">"
     
  <br>
  <br>
  <div class="Cuidados">
    <h3>Cuidados</h3>
  <img src="{% static 'img/cuidado.jpg' %}" width="180px" height="180" alt="">" 
    
  <br>
  <br>
  <br>
  <div class="Alimentacion">
    <h3>Patita</h3>
  <img src="{% static 'img/patita.jpg' %}" width="180px" height="180" alt="">"
      
      

  

  <!-- Footer -->
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </p>
      <p class="m-0 mbt">
  <!-- Footer -->
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </p>
      <p class="m-0 mbt">
        <a href="sample.html" class="link">Política de privacidad</a> ·
        <a href="sample.html" class="link">Aviso legal</a> ·
        <a href="sample.html" class="link">Cookies</a>
      </p>
      <p class="m-0 mbt1">&copy; Gestión de Pedidos 2022</p>
    </div>
  </footer>

  <!-- Bootstrap -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 


</body>


</html>